.laumolist{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    app-radialmenu{
        width: 100%;
    }
    
    .laumios{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        .sphere{
            margin-right: 20px;
            margin-top: 20px;
        }
    }
}