.header{
    background-color: #437ABD;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        margin-left: 20px;
        width: 40px;
    }
    h1{
        color: white;
    }
}